{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [ "> 1%" ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "commonjs"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}